


    <div class="pure-u-1">
      <form class="pure-form pure-form-stacked" action="/create_post" method="post" id="create_post">
        <fieldset>
        <legend>Create a Post</legend>
        <input class="pure-input-rounded" type="text" name="post[title]" id="title" placeholder="Post Title">
        <textarea class="pure-input-rounded" rows="4" cols="50" form="create_post" name="post[body]" maxlength="100" id="body" placeholder="Type in your post" required></textarea><br>
        
        <legend>Add Tags (separate by commas, ex: "DBC, Learning To Code, Sinatra etc")</legend>
        <input class="pure-input-rounded" type="text" name="tag[name]" placeholder="Enter tags">
        <br>
        <% @tags.each do |tag| %>
          <label for="<%= tag.name %>"> <%= tag.name %> </label>
          <p><input class="checkbox" id="<%= tag.id %>" type="checkbox" name="old_tags[<%= tag.name %>]" value="<%= tag.name %>"></p>
        <% end %>
        <button class="pure-button pure-button-primary pure-button-round" type="submit">Submit</button>
        </fieldset>
      </form>
    </div>

    





