<div class="container">
  <h2>Create a Post</h2>
  <form action="/create_post" method="post" id="create_post">
    <p><input type="text" name="post[title]" id="title" placeholder="Post Title"></p>
    <textarea rows="4" cols="50" form="create_post" name="post[body]" maxlength="100" id="body" placeholder="Type in your post" required></textarea><br>
    <p>Add Tags (separate by commas, ex: "DBC, Learning To Code, Sinatra etc")</p>
    <p><input type="text" name="tag[name]" placeholder="Enter tags"></p>
    <br>

    <p>Add Tags That Already Exist</p>
    <% @tags.each do |tag| %>
      <label for="<%= tag.name %>"> <%= tag.name %> </label>
      <p><input id="<%= tag.id %>" type="checkbox" name="old_tags[<%= tag.name %>]" value="<%= tag.name %>"></p>
    <% end %>
    <input type="submit">
  </form>
</div>
